.fondoInicioSesion{
    background-image: url(/inicioSesion.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fondoRecordarContrasenia{
    background-image: url(/recordarContrasenia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fondoRegistroOficial{
    background-image: url(/registroOficial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}